
 .footer{
    display:flex;
    justify-content:space-between; 
    background-color:rgb(77, 75, 75) ;
    color: white;
 }
 .izquierda{
    align-items:flex-start;
    margin-left: 10px;
 }


.derecha{
    margin-right: 10px ;
    align-content:flex-end;

}
.navbar {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    border-radius: 8px;
    border-bottom: 3px solid rgb(0, 56, 49);
}
.navbar a {
    color: rgb(238, 238, 238);
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
    font-family:cursive;
}
.navbar a:hover {
    background-color: rgb(0, 77, 66);
    color: rgb(180, 255, 244);
}
