body {
    background-color: black;
}
.footer{
    display:flex;
    margin-top: 2em;
    justify-content:space-between; 
    background-color:rgb(65, 65, 65) ;
    color: white;
}
.izquierda{
    align-items:flex-start;
    margin-left: 10px;
}
.derecha{
    margin-right: 10px ;
    align-content:flex-end;

}
.navbar-self {
    background-color: rgb(0, 0, 0);
    margin-bottom: 2em;
    overflow: hidden;
    border-radius: 8px;
    border-bottom: 3px solid rgb(0, 148, 126);
}
.navbar-self a {
    color: rgb(0, 148, 126);
    float: left;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
    font-family:cursive;
}
.navbar-self a:hover {
    background-color: rgb(0, 148, 126);
    color: rgb(0, 148, 126);
}
#focus {
    background-color: rgb(0, 107, 5);
    color: rgb(0, 148, 126);
}
h1 {
    color:rgb(0, 148, 126);
    margin-left: 1em;
}
iframe {
    height: 30em;
    width: 90%;
    margin: 0% 5% 0% 5%;
}

