
 .footer{
    display:flex;
    justify-content:space-between; 
    background-color:rgb(77, 75, 75) ;
    color: white;
 }
 .izquierda{
    align-items:flex-start;
    margin-left: 10px;
 }


.derecha{
    margin-right: 10px ;
    align-content:flex-end;

}